/* Basic CSS changes to foundation elements */
html{
background-color: #000000;
font-family: "work-sans",sans-serif;
border:0px;
padding:0px;
margin:0px;
}
body{
  padding:0px;
  margin:0px;
  border:0px
}

label{
  color: #EEF8F7;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

section.first{
  overflow:none;
}


/* CSS Grid and Main Content */
.grid {
display: grid;
grid-template-columns: repeat (7, 1fr);
grid-auto-rows: auto;
grid-gap: 0em;
border:0px;
padding:0px;
margin:0px;
height:100vh;
width:100%;
}

/* Section With Logo */
section.side{
background: #000000;
grid-column: 1/4;
display:flex;
justify-content: center;
align-items: center;

}
section>img {
  object-fit: cover;
  width:80%;
}

/* Section with text */
section.text {
background: #E35F21;
grid-column: 4 / 7;
display: flex;
align-items:flex-start;
flex-direction: column;
justify-content:center;
}
/* H1 */
section.text>*>h1{
  font-size: 50px;
  margin-bottom: 5%;
  margin-left:200px;
  font-weight: 600;
  font-family: "work-sans",sans-serif;
  color: #EEF8F7;
}

/* container for p */
.textBox {
  margin-bottom:1%;
  width: 60%;
  padding-top:5px;
  border-width:1px;
  padding-left:3px;
  padding-bottom:0px;
  margin-left:200px;
}
article.textBox>p{
    font-family: "work-sans", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
color: #EEF8F7;
}

article.info>p{
    font-family: "work-sans", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
color: #EEF8F7;
}
footer.mail>p{
    font-family: "work-sans", sans-serif;
font-weight: 500;
font-style: normal;
font-size: 18px;
color: #EEF8F7;
}
.info{
  margin-left:200px;
  margin-top: 0%;
  margin-bottom: 0%;
}
.mail{
  margin-bottom: 1%;
  margin-left:200px;
}

.form-style input[type="button"], 
.form-style input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #ffffff00;
	-webkit-box-shadow: inset 0px 1px 0px 0px #ffffff00;
	box-shadow: inset 0px 1px 0px 0px #ffffff00;
	border: 1px solid #ffffff;
  background-color: #d6581d;
  color: #EEF8F7;

	cursor: pointer;
	color: #EEF8F7;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.form-style input[type="button"]:hover, 
.form-style input[type="submit"]:hover {
	background:#EEF8F7;
  transition: 0.5s;
  color:#000000;
}

input:focus {
    color: #EEF8F7;
}

.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	width: 100%;
	padding: 7px;
	border: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
  background-color: #d6581d;
}
.form-style{
  display: flex;
}
::placeholder{
  color:#e3e5e5;
}

.imageContainer{
    display: flex;
  flex-wrap: wrap;
}
.imageContainer .images {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height:auto;
  background-color: rgb(14, 56, 196);
}

.imageContainer img {
  width:50%;
  height: auto;
  margin: 20px;
  display: flex;
  object-fit: contain;
}